.content{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  z-index: 1;

}


.container{
  display: grid;
  grid-template-areas: "header header""nav nav" "content sidebar" "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 1200px;
  height: 80vh;
  margin: 50px auto;
}
